.contact
{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 10vh;
    background-color: gray;
}
.background
{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 3vh;
}
.icon
{
    position: relative;
    
    width: 8vh;
    height: 8vh;
    background-color: white;
    border-radius: 3vh;
    
    margin-top: 1vh;
    margin-left: 1vh;
    margin-bottom: 1vh;
    margin-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
.title{
    color: white;
    font-size: 3vh;
    margin-left: 1vh;
}
.text{
    flex-wrap: wrap;
    width: 55vh;
}
