.info
{
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 9vh;
}
.background
{
    display: flex;
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 3vh;
}
.icon
{
    position: relative;
    margin-top: 0.5vh;
    margin-left: 0.5vh;
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
}
.title{
    color: white;
    font-size: 3vh;
    margin-left: 1vh;
}
.text{
    flex-wrap: wrap;
    width: 55vh;
}
