body,html {
    margin: 0px;
    padding: 0px;
}
.main
{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
    background-color: gray;
}
.background
{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 3vh;
}

.title {
    margin-top: 0px;
}